<div class="addtask">

  <form id="addtask_form" action="/add" method="POST">
    <input id="addtask_text" type="text" name="text" placeholder="task" required>
    <input id="addtask_button" type="submit" value="add">
  </form>

</div>

<div class="messages">
  {{#if messages}}
    <p class="error_msg">{{messages.error}}</p>
    <p class="info_msg">{{messages.info}}</p>
  {{/if}}
</div>

<div class="tasklist">

  {{#each tasks}}

    <p>{{@index}}: {{this.text}}</p>

    <form class="done_form" action="/done" method="POST">
      <input type="hidden" name="_id" value="{{this._id}}">
      <input class="done_button" type="submit" name="done" value="Done">
    </form>

    <form class="delete_form" action="/delete" method="POST">
      <input type="hidden" name="_id" value="{{this._id}}">
      <input class="delete_button" type="submit" name="delete" value="Delete">
    </form>

  {{else}}

    <P>No tasks to do!</P>

  {{/each}}

</div>

<div class="alldone">

  {{#if tasks}}

  <form action="/alldone" method="POST">
    <input class="all_done_button" type="submit" value="All done!">
  </form>

  {{/if}}

</div>